:root {
  --primary: #28a745;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: rgba(9, 14, 9, 0.731);
  border-bottom: 2px solid #0e2110;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;

  text-decoration: none !important;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.9);
}

.navbar .navbar-extra a {
  color: #fff;
  margin-left: 2rem;
  font-size: 1.3rem;
  text-decoration: none;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

.navbar .navbar-extra a#hamburger-menu {
  display: none;
}

.navbar-nav {
  align-items: center;
}

/* Dekstop to Tablet */

@media (max-width: 1060px) {
  .navbar .navbar-extra a#hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 25rem;
    height: 100vh;
    transition: right 0.35s ease;
    box-shadow: -8px 0 24px rgba(2, 6, 23, 0.4);
  }
  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    padding: 1rem 2rem;
    color: #000;
  }

  .navbar .navbar-nav a:hover:after {
    background-color: var(--primary);
    transform-origin: 0 0;
    transform: scale(0.2);
    color: #fff;
  }
}

#hamburger-menu {
  display: none;
}
